.place__title {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.05;
  margin: 0;
  padding-bottom: 8px;
  align-self: flex-end;
}
@media screen and (max-width: 1024px) {
  .place__title {
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 900px) {
  .place__title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 768px) {
  .place__title {
    font-size: 2.625rem;
    line-height: 1.09;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 630px) {
  .place__title {
    font-size: 1.8rem;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 320px) {
  .place__title {
    font-size: 2rem;
    line-height: 0.91rem;
    padding: 10px 16px 10px;
  }
}
