.places {
  background-position: center;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 92px auto;
}
@media screen and (max-width: 1200px) {
  .places {
    max-width: calc(100% - 48px * 2);
  }
}
@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100% - 24px * 2);
  }
}
@media screen and (max-width: 490px) {
  .places {
    margin-top: 15px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
    margin-top: 14px;
    margin-bottom: 66px;
  }
}
