.header__logo {
  max-width: 176px;
  box-sizing: border-box;
}
@media screen and (max-width: 380px) {
  .header__logo {
    max-width: 156px;
  }
}
@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 142px;
  }
}
