.footer__link {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  line-height: 1.125;
  margin: 0;
  padding-right: 18px;
  color: white;
  text-decoration-line: none;
}
.footer__link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 730px) {
  .footer__link {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 650px) {
  .footer__link {
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 32px;
    padding: 0;
  }
}
