.footer__link {
  font-size: 1rem;
  line-height: 1.125;
  margin: 0;
  margin-right: 16px;
  color: white;
  text-decoration-line: none;
}
.footer__link:last-child {
  margin: 0;
}
@media screen and (max-width: 730px) {
  .footer__link {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 620px) {
  .footer__link {
    font-size: 0.6rem;
    margin-right: 8px;
  }
}
@media screen and (max-width: 460px) {
  .footer__link {
    font-size: 0.45rem;
    margin-right: 3px;
  }
}
@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 32px;
  }
  .footer__link:last-child {
    margin-bottom: 48px;
  }
}
