.lead__title {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin: 56px auto 32px;
  text-align: center;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.04;
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: 48px;
  }
}
@media screen and (max-width: 768px) {
  .lead__title {
    max-width: calc(100% - 24px * 2);
  }
}
@media screen and (max-width: 740px) {
  .lead__title {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 560px) {
  .lead__title {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 450px) {
  .lead__title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 340px) {
  .lead__title {
    line-height: 1.1;
    max-width: calc(100% - 16px * 2);
    margin: 48px auto 16px;
  }
}
