.cover {
  margin-bottom: 92px;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .cover {
    align-self: center;
    margin-bottom: 88px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    align-self: center;
    margin-bottom: 64px;
  }
}
