.place {
  display: grid;
  grid-template-rows: minmax(96px 152px) 1fr;
  grid-template-columns: 460px 1fr;
  gap: 40px;
  margin: 0 auto 80px;
}
.place:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 32px;
  }
}
@media screen and (max-width: 950px) {
  .place {
    grid-template-columns: calc(100% / 2) 1fr;
  }
}
@media screen and (max-width: 890px) {
  .place {
    grid-template-columns: calc(100% / 2 - 50px) 1fr;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    margin-bottom: 73px;
    grid-template-rows: minmax(46px 92px) 1fr;
    gap: 28px;
  }
}
@media screen and (max-width: 750px) {
  .place {
    grid-template-columns: calc(100% / 2 - 60px) 1fr;
  }
}
@media screen and (max-width: 680px) {
  .place {
    margin-bottom: 40px;
    gap: 24px;
  }
}
@media screen and (max-width: 490px) {
  .place {
    grid: none;
    margin: 50px 0 0;
    gap: 32px;
  }
}
