.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
  margin: 0 auto 0;
  max-width: calc(100% - 48px * 2);
}
@media screen and (max-width: 800px) {
  .footer {
    max-width: calc(100% - 24px * 2);
  }
}
@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
  }
}
